
// Typography
$font-family-sans-serif: "Source sans pro", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$theme-colors: (
        "primary": #00A983,
        "secondary": white,
        "info": #02264B
);

$primary-color: #00A983;