
// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Global

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

h1 {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   color: $primary-color;
 }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: $primary-color;
}

.gradient-background {
  background: #00455b; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #00455b 0%, #02264b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #00455b 0%,#02264b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #00455b 0%,#02264b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00455b', endColorstr='#02264b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

// Table

.table tbody tr:hover {
  background-color: rgba(0, 169, 131, .2);
}

.table .btn-link {
  padding: 0 .4rem
}

.table-row-primary-background {
  background-color: $primary-color !important;
  color: white;

  .btn-link {
    color:white;
  }
}

.table .form-group {
  margin: 0;
}

// Navigation

// -- Sidenav

#admin {

  display: flex;
  width: 100%;
  align-items: stretch;

}

#sidebar {

  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  color: #fff;
  box-shadow: 4px 2px 4px 1px rgba(0, 0, 0, 0.04);
  transition: all 0.3s;

  a {
    color: white;

    &[data-toggle="collapse"] {
      position: relative;
    }
  }

  &.active {
    margin-left: -250px;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .sidebar-header {
    padding: 20px;
    text-align: center;
  }

  ul {

    &.components {
      padding: 20px 0;
    }

    p {
      color: #fff;
      padding: 10px;
    }

    li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
      opacity: .8;

      .fas {
        margin-right: 0.3rem;
      }

      &:hover {
        color: #02264B;
        background: #fff;
        opacity: 1;
      }

    }

    li.active > a{
      font-weight: 500;
      opacity: 1;
    }

    ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
    }

  }

}

#admin #main {
  margin-left: 250px;
  transition: all 0.3s;
  width: 100%;

  &.active {
    margin-left: 0;
  }

}

@media (max-width: 768px) {

  #sidebar {
    width: 100%;
    margin-left: -100%;
  }
  #sidebar.active {
    margin-left: 0;
  }

  #sidebar > ul {
    margin: 0 10%;
  }

  #admin #main, #admin #main.active, #admin #main .container  {
    margin-left: 0px;
  }

  #admin #main .container h1 {
    text-align: left;
  }

}

@media (min-width: 768px) {
  .btn-close {
    display: none!important;
  }

  .hidden-md-up {
    visibility: hidden;
  }
}

// -- Navbar

#app .navbar {
  width: 100%;
  align-items: baseline;

  .navbar-toggler {
    border: none;
    color: inherit;
    font-size: inherit;
  }

  a {
    color: rgba(0, 169, 131, 0.7);

    &.active{
      color: $primary-color!important;
    }
  }

  .nav-link {
    font-weight: 600;
  }

  .navbar-brand {

    a {
      color: $primary-color!important;
    }

  }

}



// Login

.login {

  width: 100%;
  text-align: center;


  .container {
    height: 100vh;
  }

  .logo {
    width: 120px;
  }

}

// Cards



.card-body {
  padding: 2.25rem;
}



// Home

.main-screen {
  height: 100vh;

  .main-content {
    align-self: center;
  }
}

.main-background {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 60%;
  z-index: -998;
}

@media (max-width: 575.98px) {

  .main-background {
    background-size: 100%;
  }

  .welcome-content {
    margin-bottom: 2rem;
    margin-bottom: 0 !important;
  }

  .navbar-brand {
    font-size: 0.625rem;
  }

  .container-information {
    .card {
      width: 300px !important;
    }
  }


}


.main-leaf {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 33%;
  z-index: -999;
  opacity: .3;
}


.products-list .card {
  width: 260px;
  margin: 15px 0px;
}

@media (max-width: 768px) {

  .products-list .card {
    width: 155px;
  }

}


.products-filter #accordion{
  width:100%;

  .card {

    border-color: $primary-color;

    .card-header {
      background-color: white;
      border-bottom: none;
      padding: 0.45rem 0.75rem;
    }


    img {
      width: 20px;
    }
  }
}


// ------------ Admin

// Button

.btn-title {
  font-size: 1.6em;
}

.btn-close {
  font-size: 1.3rem;
  color: white;

}

// Form


// ------------ Front

// Card

.category-card {
  width: 240px;
  height: 265px;
  color: white;
  text-align: center;
  background-size: 100%;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all .5s;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
  }

  .card-body {
    position: relative;
    padding: 0;
    width: 100%;
  }

  .card-title {
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

  }

}

.card {
  .card-img {
    height: 100%;

    img {

    }
  }
}

.btn-radio {
  margin-bottom: .2rem !important;
}

// Navigation

.question-navigation {

  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  text-align: center;

  ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  ul li {
    display: inline-block;
    margin: 0 1em;
  }


  ul li a {
    border: 2px solid $primary-color;
    border-radius: 50%;
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    transition: .2s ease-in-out;
  }

  ul li a:hover, ul li a.is-active {
    background-color: $primary-color;
  }
}

.text-minimize {
  opacity: .7;
  font-size: 1rem;
}

// Information

.container-information {

  color: rgba(0, 0, 0, 0.65);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 1010;
  width: 100%;
  top: 110px;
  left: 0;
  pointer-events: none;

  .card {
    padding: 10px 16px;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background: #fff;
    display: inline-block;
    pointer-events: all;
    max-width: 400px;
    width: 100%;
    border: none;

    p {
      margin: 0;
    }

  }

}

.modal-content {
  width: 90%;
  border: none;

  .modal-header {
    padding: 10px 16px;
    border: none;
    text-align: center;
  }

  .modal-body {
    padding-top: 0;
  }

}

.modal.show .modal-dialog {

}




// Products page

.products-container {

}

.filter-card {
  border-radius: 3px!important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background: #fff;
  border: none;

  h2 {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 0;
    font-weight: 500;

    i {
      font-size: 1.2rem;
      margin-right: .5rem;
    }

  }

  .card-header {
    background: $primary-color;
    border: none;
    text-align: center;
  }

}

.product-card {

  &:hover {
    text-decoration: none;
    color: $primary-color;
  }

  .card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all .5s;
    height: 100%;

    &:hover {
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    }

    .card-body {
      padding: 1.15rem;
    }

    h3 {
      font-size: 1.275rem;
    }

  }

}


// Product Page

.product-img {
  img {
    width: 100%;
  }
}

.product-main {

  .product-brand-img {
    width: 100px;
  }

  .product-price {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: var(--info);
    font-size: 2.5rem;
    margin: 0;
  }

}

.product-data {

  padding-left: 15px!important;

  p {
    margin: 0;
  }

}


// Callout

.bd-callout {
  padding: .75rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #00455b;
  border-radius: .5rem;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.bd-callout h5 {
  margin-top: 0;
  margin-bottom: .25rem;
  font-weight: 600;
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem
}

.bd-callout+.bd-callout {
  margin-top: -.25rem
}

.bd-callout-info {
  border-left-color: $primary-color
}

.bd-callout-info h4 {
  color: #5bc0de
}

.bd-callout-warning {
  border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
  color: #f0ad4e
}

.bd-callout-danger {
  border-left-color: #d9534f
}

.bd-callout-danger h4 {
  color: #d9534f
}